- if obj.errors.any?
  .alert.alert-danger.alert-dismissible.fade.show{ role: 'alert' }
    %h4.alert-heading
      The following errors prevented the #{obj.class.name.downcase} from being saved
    %ul
      - obj.errors.full_messages.each do |msg|
        %li= msg
    %button.close{ aria: { label: 'Close' }, data: { dismiss: 'alert' }, type: 'button' }
      %span{ aria: { hidden: 'true' } } ×
